<head>
  <title>Change password success</title>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <style>
    body { font-family: calibri, 'DejaVu Sans', Arial, Helvetica, sans-serif; background-color: #cbd5e1; } .container {
    margin: 0 auto; width: 600px; padding: 10px 30px 30px 30px; box-shadow: 0 0 4px #ddd; background-color: #f3f4f6;
    border-radius: 5px; } a.link { border: solid 1px #0ea5e9; background-color: #0ea5e9; text-decoration: none; color:
    #fff; font-weight: bold; display: block; width: 400px; text-align: center; padding: 10px 0; margin-top: 50px;
    border-radius: 5px; } .text-blue { color: #0ea5e9; }
  </style>
</head>
<body>
  <div class='container'>
    <h1 class='text-blue'>Email verification for change password</h1>
    <div>Hello <b class='text-blue'>{{name}}</b> !</div>
    <p>
      Your account has been changed password successfully.

      <span style='font-size: 14px; font-weight: bold'>
        Email address :
        <span class='text-blue'>{{email}}</span>
      </span>
      <br /><br />
      This is an automatic email, please do not reply to this email.
    </p>
    <br />
    <p>
      Regards,
      <br />
      <em>Mega Market Group</em>
    </p>
  </div>
</body>